body {
    overflow-x: hidden;
    background-image: linear-gradient(
        to bottom,
        rgb(255 255 0 / 50%),
        rgb(0 0 255 / 50%)
      );
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

header > * {
    margin-bottom: 10px;
}

#nom {
    font-weight: bold;
}

#nom, #titre {
    font-size: 40px;
}

#moi {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    border: solid black 3px;
    transition : 0.5s;
}

#moi:hover {
    border-radius: 10px;
}

#github {
    width: 100px;
    height: 30px;
    border-radius: 0;
    border: solid black 3px;
    background-color: whitesmoke;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

#github:hover {
    border-color: white;
    background-color: black;
    color: white;
    font-weight: bold;
}   

section > h3 {
    text-align: center;
}

#about {
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: column;
}

.project {
    background: linear-gradient(
        rgb(255 0 0 / 50%),
        rgb(0 255 0 / 50%)
      );
    border-radius: 10px;
    border: solid black 3px;
    padding-inline: 10px;
    max-width: 60%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: bold;
}

.project > img, .desc {
    height: 50%;
    width: auto;
    max-width: 90%;
    text-align: center;
}

.project > img {
    border-radius: 5px;
    border: solid white 3px;
}

.left {
    align-self: flex-start;
}

.left:hover {
    transform: scale(1.1) translate(10%);
}

.right {
    align-self: flex-end;
}

.right:hover {
    transform: scale(1.1) translate(-10%);
}

@media (max-width: 900px) {

    #moi {
        width: 25vw;
    }

    #nom, #titre {
        font-size: 25px;
    }
}

@media (max-width : 500px) {

    #moi {
        width: 50vw;
    }

    #nom {
       font-size: 20px;
    }

    #titre {
        font-size: 15px;
    }

    .project {
        max-width: 80%;
    }
}


